.product_details {
  margin-top: 80px;
}
.product_details h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  cursor: pointer;
}
.product_rating span i {
  color: coral;
}
.product_price {
  font-weight: 500;
  font-size: 1.3rem;
}
.tab_wrapper {
  font-weight: 600;
  cursor: pointer;
}
.active_tab {
  font-weight: 700;
}
.review_wrapper ul li span {
  color: coral;
  font-weight: 600;
}

.review_wrapper ul li p {
  margin-top: 10px;
}
.review_form {
  width: 70%;
  margin: auto;
  margin-top: 30px;
}
.review_form h4 {
  font-style: 1.2 rem;
  font-weight: 600;
  margin-bottom: 30px;
}
.form_group input,
.form_group textarea {
  width: 100%;
  border: 1px solid;
  border-radius: 5px;
  padding: 8px 20px;
}
.form_group input:focus,
.form_group textarea :focus {
  outline: none;
}
.form_group {
  margin-bottom: 30px;
}
.form_group span {
  display: flex;
  align-items: center;
  column-gap: 5px;
  color: coral;
  font-weight: 600;
  cursor: pointer;
}
.related_title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 30px;
}
.rating_g {
}
